<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <script src="angular.js"></script>
    <script>
        var mymodule = angular.module("mymodule", []);
        mymodule.controller("x", function ($scope) {
            $scope.cars = ['MERCEDES', 'BMW', 'AUDI'];
            $scope.my = { favorite: 'AUDI' };
        });
    </script>
</head>
<body ng-app="mymodule">
    <div ng-controller="x">
        <h4 id="favorite_CAR">Which is your favorite?</h4>
        <label ng-repeat="car in cars">
            {{car}}
            <input type="radio" ng-model="my.favorite" ng-value="car">
        </label>
        <div>Your Favourite Car is: {{my.favorite}}</div>           
    </div>
</body>
</html>
