<!DOCTYPE html>

<html data-ng-app="listaReserva">

<head>
    <meta charset="utf-8">
    <title>Lista Reserva</title>
    <h1>Lista de Reservas</h1>
    <h3>Login: Administrador</h3>



</head>

<body>
    Escribe el nombre del cliente aquí:
    <br/> Cliente : <input type="text" data-ng-model="nombreCliente" /><br> Ciudad : <input type="text" data-ng-model="ciudadCliente" />

    <div data-ng-controller="ControladorMuySimple">

        <h3>Listado de clientes</h3>
        <ul>
            <li data-ng-repeat="cliente in misClientes">
                {{ cliente.nombre }} - {{ cliente.ciudad}}
            </li>
        </ul>
        {{ globalB }}
        <input type="button" data-ng-click="addCliente()" value="addCliente()" />
    </div>
    <div data-ng-controller="ControladorMuySimple">

        <h3>EEEEH! Listado de clientes segunda parte</h3>
        <ul>
            <li data-ng-repeat="cliente in misClientes">
                {{ cliente.nombre }}
            </li>
        </ul>
        <input type="button" data-ng-click="cambiarClienteFuera()" value="cambiarCliente()" />
    </div>
    <br>
    <br>
    <div data-ng-controller="UnControlDeAnimales">
        <h3>Listado de clientes</h3>
        <ul>
            <li data-ng-repeat="animal in misAnimales">
                {{ animal.nombre }}
            </li>
        </ul>
        {{ globalA }}
    </div>
    <script src=" https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js "></script>
    <script src="listaReserva.js "></script>
</body>

</html>