<!DOCTYPE html>
<html ng-app>

<head>
    <title></title>
    <!--script src="angular.js"></script-->
    <style>
        .changeColor {
            color: blue;
        }
        
        .changeSize {
            font-size: 30px;
        }
        
        .italic {
            font-style: italic;
        }
    </style>


</head>

<body>
    <div>
        <p ng-class="style">Hello from Felipe de mi vida y de mi corazón ..!!</p>
        <br />
        <input ng-model="style" />
        <p ng-class="{changeColor:a,changeSize:b,italic:c}">bye bye from Maruti..!!</p>
        <br />
        <input type="checkbox" ng-model="a" /> Color<br />
        <input type="checkbox" ng-model="b" /> Size<br />
        <input type="checkbox" ng-model="c" /> Italic<br />
    </div>
    <script src=" https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js "></script>
</body>

</html>