<!DOCTYPE html>
<html>

<head>
    <title></title>
    <!--script src="angular.js"></script-->
    <script src=" https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js "></script>
    <script>
        var mymodule = angular.module("mymodule", []);
        mymodule.controller("x", function($scope) {
            $scope.initialname = "Felipe Gil";
            $scope.initialemail = "test@gmail.com";
        });
    </script>
</head>

<body ng-app="mymodule">
    <div ng-controller="x">
        <form name="form1">
            <label>Name :</label>
            <input name="name" ng-model="initialname" required />
            <span style="color:red" ng-show="form1.name.$error.required">
                please provide your name
            </span>
            <br />
            <label>Email :</label>
            <input name="email" ng-model="initialemail" type="email" />
            <span style="color:red" ng-show="form1.email.$error.email">
                please provide valid email
            </span>
            <br />
        </form>
    </div>


</body>

</html>