<!DOCTYPE html>
<html>

<head>
    <title>Probando directivas ng-app</title>
    <script src=" https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js "></script>
</head>

<body>
    <div ng-controller="x">
        <input type="checkbox" ng-model="model" ng-change="check()" />
        <input type="checkbox" ng-model="model" />
        <label>I am Working for Second CheckBox</label><br /> Checkboxes are Checked = {{model}}<br />
        <div> counter = {{clickCounter}}</div>
    </div>

    <p ng-copy="x='you have copied'">
        ***********************************************************<br/> this p is actually having some text inside that.
    </p>
    <br />
    <input type="text" ng-cut="y=' del piero corta'" ng-paste="paste=true " />
    <br /> you have copied = {{x}}
    <br /> you have Cut = {{y}}
    <br /> you have paste = {{paste}}
    <br />


</body>

</html>